.nav{
  background-color: lightslategray;
  
}
.nav ul{
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
}
.nav ul li{
  float: left;
  list-style-type: none;
  padding-right: 10px;

}
.nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

